<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.files.webpackManifest %>
</head>
<body>
<div id="app"></div>
</body>
</html>